.page {
  height: 100vh;
  width: 100%;
}

.page-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #282d35;
  overflow-y: scroll;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.switch-label{
  color: salmon;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.input {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: salmon;
}

.input:focus {
  border: 1px solid salmon;
  outline: none;
}

.input::placeholder {
  color: #282d35;
}

.button {
  height: 100%;
  width: 10%;
  background-color: salmon;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #282d35;
  box-sizing: content-box;
  margin-left: 10px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.results-container {
  margin-top: 10px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
.user-info-text {
  font-size: 18px;
  color: salmon;
  margin-left: 10px;
}
.avatar-url {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}